@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  /* ===== main theme colors ===== */
  --fisr-color: #0e2431;
  --second-color: #81ecec;
  --third-color: #777;

  /* ===== hover color ====== */
  --hover-color: #02f3f4;

  /* ===== background color ===== */
  --body-bg-color: #fefefe;
  --cards-bg-color: #ffffff;
  --modal-bg-color: #ffffff;
  --bg-transparent-color: rgba(0, 0, 0, 0.1);
  --transparent-color-1: rgba(0, 0, 0, 0.1);
  --transparent-color-2: rgba(2, 243, 244, 0.1);
  --line-color: #d7d7d7;

  /* ====== color filter ===== */
  --color-filter: invert(1);

  /* ===== box shadow ===== */
  --box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);

  /* ===== font size ===== */
  --small-font-size: 0.9em;
  --normal-font-size: 1em;

  /* ===== scroll bar colors ===== */
  --scroll-bar-color: #c5cadf;
  --scroll-thumb-color: #70768a;
  --scroll-thumb-hover-color: #454f6b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--fisr-color);
  background: var(--body-bg-color);
  margin: 2rem 0 0 0;
  transition: 0.5s ease;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* ===== header ===== */

header {
  z-index: 99999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(20px);
  transition: 0.6s ease;
}

.nav-bar {
  position: relative;
  height: calc(4rem + 1rem);
  max-width: 1250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  transition: 0.6s ease;
}
