.about .container .content {
  column-gap: 40px;
  width: 100%;
}

.about-img {
  position: relative;
}

.about-img img {
  max-width: 100%;
  min-width: 500px;
  filter: drop-shadow(10px 20px 10px rgba(250, 64, 190, 1))
    drop-shadow(5px 1px 10px rgba(2, 243, 244, 1));
}

.about-info .description {
  max-width: 600px;
}

.about-info .description h3 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 10px;
}

.about-info .description h4 {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 10px;
}

.about-info .description h4 span {
  color: var(--second-color);
}

.about-info .description p {
  color: var(--third-color);
  font-size: var(--normal-font-size);
  margin-bottom: 15px;
  padding-bottom: 25px;
  border-bottom: 2px solid var(--line-color);
}

.about-info .professional-list {
  display: flex;
  column-gap: 30px;
}

.about-info .professional-list .list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  margin-bottom: 20px;
}

.about-info .professional-list .list-item h3 {
  font-size: 2.5em;
  font-weight: 700;
}

.about-info .professional-list .list-item span {
  color: var(--third-color);
  font-size: var(--small-font-size);
}
