.footer-container .about a h2 {
  font-family: "Press Start 2P", cursive;
  filter: drop-shadow(3px 0 rgba(250, 64, 190, 1))
    drop-shadow(0 2px 0 rgba(2, 243, 244, 1));
}

.footer-container .about a h2:hover {
  background: linear-gradient(
    to top,
    transparent 0%,
    rgba(250, 64, 190, 1) 50%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.8;
  filter: drop-shadow(3px 0 rgba(250, 64, 190, 1))
    drop-shadow(0 2px 0 rgba(250, 64, 190, 1));
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--second-color);
  width: 100%;
  margin-top: 50px;
  padding: 3rem 2rem;
  color: var(--first-color);
}

footer a {
  color: var(--first-color);
  margin: 0;
  display: inline-block;
}

footer a:hover {
  color: rgba(250, 64, 190, 1);

  transition: 0.3s ease;
}

footer a:hover {
  transform: scale(1.2);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1150px;
}

.footer-container .about h2 {
  font-size: 3em;
  font-weight: 600;
  background: linear-gradient(to top, transparent 0%, var(--first-color) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.8;
}

.footer-container .about p {
  font-size: var(--normal-font-size);
  font-weight: 300;
  margin-bottom: 30px;
}

.footer-container .info,
.footer-container .follow {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-container .info h3,
.footer-container .follow h3 {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 30px;
}

.footer-container .info ul,
.footer-container .follow ul {
  display: flex;
}

.footer-container .info a {
  margin: 20px;
}

.footer-container .follow a {
  font-size: 1.5em;
  margin: 20px;
}

.footer-copyright p {
  font-size: var(--normal-font-size);
  font-weight: 300;
  margin-top: 50px;
}
