.logo {
  font-family: "Press Start 2P", cursive;
  filter: drop-shadow(3px 0 rgba(250, 64, 190, 1))
    drop-shadow(0 2px 0 rgba(2, 243, 244, 1));
}

.logo:hover {
  color: rgba(250, 64, 190, 1);
}

.home {
  position: relative;
  max-width: 1250px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem 2rem;
  flex-direction: column;
}

.home .home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.home-container .media-icons {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  width: fit-content;
  z-index: 100;
}

.home-container .media-icons a {
  color: var(--second-color);
  font-size: 1.5em;
  margin: 10px 0;
}

.home-container .media-icons a:hover {
  color: rgba(250, 64, 190, 1);
  transform: scale(1.2);
}

.info {
  margin: 0 auto;
}

.home-container .info h2 {
  font-size: 4em;
  font-weight: 600;
  line-height: 70px;
  font-family: "Press Start 2P", cursive;
  filter: drop-shadow(6px 0 rgba(250, 64, 190, 1))
    drop-shadow(0 4px 0 rgba(2, 243, 244, 1));
}

.home-container .info h3 {
  color: var(--third-color);
  font-feature-settings: 1.3em;
  font-weight: 600;
  line-height: 50px;
}

.btn {
  background: var(--second-color);
  color: var(--first-color);
  font-size: var(--normal-font-size);
  font-weight: 500;
  display: inline-block;
  margin-top: 25px;
  padding: 20px;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn:hover,
.skills-info h4 label:hover {
  background: var(--hover-color);
}

.home .scroll-down {
  color: var(--first-color);
  font-size: var(--normal-font-size);
  font-weight: 500;
  margin-top: 100px;
}

.home .scroll-down i {
  color: var(--second-color);
  font-size: 2em;
  animation: arrow-down ease 1s infinite;
  margin: 0.5em;
}

@keyframes arrow-down {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(10px);
  }
}
