.cv {
  background: var(--second-color);
  color: var(--first-color);
  font-size: var(--normal-font-size);
  font-weight: 500;
  padding: 20px;
  letter-spacing: 1px;
}

.certificates-modal,
.cv-modal,
.portfolio-model {
  z-index: 999999;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--bg-transparent-color);
  backdrop-filter: blur(10px);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease;
}

.certificates-modal.active,
.cv-modal.active1,
.portfolio-model.active {
  visibility: visible;
  opacity: 1;
}

.certicates-modal-body,
.cv-modal-body,
.portfolio-model-body {
  position: relative;
  background: var(--modal-bg-color);
  max-width: 600px;
  margin: 20px;
  padding: 40px;
  box-shadow: var(--box-shadow);
  transform: translateY(-50px);
  transition: 0.5s ease;
}

.portfolio-model-body a img {
  transition: 0.3s ease;
}

.portfolio-model-body a img:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}

.certificates-modal.active .certicates-modal-body,
.cv-modal.active1 .cv-modal-body,
.portfolio-model.active .portfolio-model-body {
  transform: translateY(0);
}

.cv-modal.active1 .cv-modal-body .cv {
  cursor: pointer;
}

.certicates-modal-body .modal-close-btn,
.cv-modal-body .modal-close-btn,
.portfolio-model-body .modal-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  cursor: pointer;
}

.img-container-modal {
  display: flex;
  text-align: center;
  justify-content: center;
}

.portfolio-model-body h3 {
  font-size: 1.5em;
}

.portfolio-model-body img {
  width: 100%;
  margin: 20px;
}
