:root {
  /* ===== main theme colors ===== */
  --first-color: #0e2431;
  --second-color: #81ecec;
  --third-color: #777;

  /* ===== hover color ====== */
  --hover-color: #02f3f4;

  /* ===== background color ===== */
  --body-bg-color: #fefefe;
  --cards-bg-color: #ffffff;
  --modal-bg-color: #ffffff;
  --bg-transparent-color: rgba(0, 0, 0, 0.1);
  --transparent-color-1: rgba(0, 0, 0, 0.1);
  --transparent-color-2: rgba(2, 243, 244, 0.1);
  --line-color: #d7d7d7;

  /* ====== color filter ===== */
  --color-filter: invert(1);

  /* ===== box shadow ===== */
  --box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);

  /* ===== font size ===== */
  --small-font-size: 0.9em;
  --normal-font-size: 1em;

  /* ===== scroll bar colors ===== */
  --scroll-bar-color: #bffcfb;
  --scroll-thumb-color: #70768a;
  --scroll-thumb-hover-color: #454f6b;
}

.dark-theme {
  /* ===== main theme colors ===== */
  --first-color: #fff;
  --second-color: #81ecec;
  --third-color: #a9afc3;

  /* ===== background color ===== */
  --body-bg-color: #0e1b31;
  --cards-bg-color: #132347;
  --modal-bg-color: #102048;
  --bg-transparent-color: rgba(255, 255, 255, 0.1);
  --transparent-color-1: rgba(255, 255, 255, 0.1);
  --line-color: #454f6b;

  /* ====== color filter ===== */
  --color-filter: invert(0);

  /* ===== scroll bar colors ===== */
  --scroll-bar-color: #e7fefd;
  --scroll-thumb-color: #282f4e;
  --scroll-thumb-hover-color: #454f6b;
}

/* ===== scroll to top button ===== */
.scrollToTop-btn {
  z-index: 999999;
  position: fixed;
  right: 0;
  bottom: 20px;
  width: 45px;
  height: 45px;
  background: var(--second-color);
  color: #fff;
  font-size: var(--small-font-size);
  cursor: pointer;
  opacity: 0;
  transition: 0.5s ease;
}

.scrollToTop-btn.active {
  right: 20px;
  pointer-events: all;
  opacity: 1;
}

/* ===== light / dark theme button ===== */
.theme-btn {
  z-index: 999999;
  position: fixed;
  right: 0;
  top: 100px;
  background: var(--transparent-color-1);
  backdrop-filter: blur(20px);
  width: 70px;
  height: 35px;
  font-size: 1.2em;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.theme-btn .fa-sun,
.theme-btn.sun .fa-moon {
  display: none;
}

.theme-btn.sun .fa-sun {
  display: block;
}

/* ===== scroll bar ====== */

::-webkit-scrollbar {
  width: 10px;
  background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover-color);
}
